
@import url('Base.css');

.login-page-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 260px;
    text-align: center;
}


/* Login input form container */
.login-input {
    background-color: #FFFFFF; /* White background for the profile */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    margin-top: 20px;
}

/* Styling the button inside login-input */
.login-button {
    padding: 20px;           /* Adjust padding to reduce button size */
    font-size: 1rem;             /* Adjust font size to match design */
    width: auto;                 /* Allow width to be adjusted automatically */
    display: flex;              /* Enable Flexbox inside the form */
    flex-direction: column;     /* Stack form elements vertically */
    align-items: center;        /* Center the items horizontally inside the form */
    justify-content: center;    /* Center the items vertically inside the form */
}

.new-account-button {
    padding: 20px;
    font-size: 1rem;             /* Adjust font size to match design */
    width: auto;                 /* Allow width to be adjusted automatically */
    display: flex;              /* Enable Flexbox inside the form */
    flex-direction: column;     /* Stack form elements vertically */
    align-items: center;        /* Center the items horizontally inside the form */
    justify-content: center;    /* Center the items vertically inside the form */
}

.create-page-container {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    text-align: center;
}

/* Login input form container */
.create-input {
    background-color: #FFFFFF; /* White background for the profile */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

/* Styling the button inside login-input */
.create-button {
    padding: 20px;           /* Adjust padding to reduce button size */
    font-size: 1rem;             /* Adjust font size to match design */
    width: auto;                 /* Allow width to be adjusted automatically */
    display: flex;              /* Enable Flexbox inside the form */
    flex-direction: column;     /* Stack form elements vertically */
    align-items: center;        /* Center the items horizontally inside the form */
    justify-content: center;    /* Center the items vertically inside the form */
}

.already-user-button {
    padding: 20px;
    font-size: 1rem;             /* Adjust font size to match design */
    width: auto;                 /* Allow width to be adjusted automatically */
    display: flex;              /* Enable Flexbox inside the form */
    flex-direction: column;     /* Stack form elements vertically */
    align-items: center;        /* Center the items horizontally inside the form */
    justify-content: center;    /* Center the items vertically inside the form */
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap');

.title-group {
    color: #2160c2; /* Navy blue */
}

.title-finder {
    color: #ffd000; /* Gold */
}

.login-page-container .title {
    font-family: 'Pacifico', cursive; /* Use a stylish Google font */
    font-size: 6rem; /* Adjust size */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
    margin-bottom: 0px;
    margin-top: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.login-page-container .login-title {
    font-family: 'Lato'; /* Use a stylish Google font */
    font-size: 1rem; /* Adjust size */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
    margin-bottom: 0px;
    margin-top: -20px;
}


