
@import url('Base.css');

/* Profile Styles */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.profile-details {
    background-color: #FFFFFF; /* White background for the profile */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    border: 4px solid #465BDA; /* Blue border around the image */
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    color: #FFFFFF;
}

.navbar button {
    color: #FFFFFF; /* White text for navbar buttons */
}

.navbar button:hover {
    background-color: #062C81; /* Darker blue for hover effect */
}

@media (max-width: 600px) {
    .profile-container {
        padding: 10px;
    }

    .profile-details {
        width: 100%;
    }

    .profile-image {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }
}
